---
const {platform, username, logo} = Astro.props
---
{ username && 
    <a href={`https://www.${platform}.com/${username}`}>
        <img src={logo} alt={`${platform} Logo`} />
        {platform}
    </a>
}

{
  !username &&
  <small>
    <a href={`/${platform}.xml`} target="_blank" rel="noopener noreferrer">
      <img src={logo} alt={`${platform} Logo`} />
      Suscribete a nuestros noticias con RSS
    </a>
  </small>
}

<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }

    a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        /*background-color: #4c1d95;*/
        text-decoration: none;
    }

    a:hover {
        font-size: 1.25rem;
        border: 2px solid gray;
        border-radius: 10px;
        padding: 0 10px;
        transition: 200ms;
    }

    img {
        width : 50px;
        height : 50px;
    }
</style>